.hero-unit
  %h1 
    Attached
    %small a Ruby on Rails file attachment library
  %p Attached is a Ruby on Rails file attachment tool that lets users upload to the cloud. The gem supports AWS, Google and Rackspace for storage networks by default. It is influenced (and copied) from Paperclip and makes heavy use of the incredibly awesome Fog library.
  %p
    = link_to 'Audios', audios_path, class: 'btn btn-primary btn-large'
    = link_to 'Images', images_path, class: 'btn btn-primary btn-large'